.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.colum-content {
  align-items: center;
  background-color: #ddd;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-content {
  align-items: flex-start;
  background-color: #ddd;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.product-content {
  align-items: flex-start;
  background-color: #ddd;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  gap: 5px; 
  justify-content: center;
  padding: 10px;
  flex-grow: 2;
  flex-wrap: wrap;
}

.main-content {
  display: flex;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
